<div class="flex items-center justify-between">
  <div
    class="flex justify-between items-center px-6 py-6 my-8 ml-8 mr-4 bg-neutral-100 rounded-lg border border-neutral-300 w-full"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48px"
      viewBox="0 -960 960 960"
      width="48px"
      fill="#202124"
      class="rotate-45"
    >
      <path
        d="M280-80v-100l120-84v-144L80-280v-120l320-224v-176q0-33 23.5-56.5T480-880q33 0 56.5 23.5T560-800v176l320 224v120L560-408v144l120 84v100l-200-60-200 60Z"
      />
    </svg>

    <div class="flex items-center justify-evenly space-x-12">
      <div
        class="py-2 px-4 bg-black rounded-full text-white flex items-center justify-between space-x-3"
      >
        <div class="h-[12px] w-[12px] bg-lime-400 rounded-full"></div>
        <p>New Destination</p>
      </div>
      <p class="text-neutral-700">Search</p>
      <p class="text-neutral-700">Tours</p>
    </div>
  </div>

  <div
    class="flex justify-between items-center px-6 py-6 my-8 mr-8 ml-4 bg-neutral-100 border border-neutral-300 rounded-lg w-[40%]"
  >
    <div class="flex justify-center items-center space-x-6">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48px"
        viewBox="0 -960 960 960"
        width="48px"
        fill="#202124"
      >
        <path d="M160-360v-80h640v80H160Zm0-160v-80h640v80H160Z" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#202124"
      >
        <path
          d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"
        />
      </svg>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
