<main class="main">
  <nav>
    <a href="/">Web Challenge</a>
    <div class="actions">
      <a href="/about">About</a>
      <a href="/faq">FAQ</a>
      <a href="/terms">T&C</a>
      <a id="login" href="/login">Login</a>
    </div>
  </nav>

  <div class="content">
    <div class="landing">
      <div class="hero">
        <div>
          <h2>Welcome to</h2>
          <h1>Web Challenge</h1>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil dolor
          sed, placeat corporis dolorum laudantium nostrum cumque amet,
          similique dolorem quaerat est nisi quae, optio soluta laborum
          necessitatibus praesentium voluptate?
        </p>
        <button>Join now</button>
      </div>
      <div class="countdown">
        <p class="time">00:00:00</p>
        <p>hours : minutes : seconds</p>
      </div>
    </div>
    <div class="projects">
      <div>
        <img
          src="https://cdn.dribbble.com/userupload/11771661/file/original-d75d1213d3fc13645d3cc89a7a291a26.png?resize=2048x1536"
        />
        <button>Select (1)</button>
      </div>
      <div>
        <img
          src="https://cdn.dribbble.com/userupload/12253662/file/original-a7a2415c635fbb6c56d84542352eac4c.png?resize=2048x1536"
        />
        <button>Select (2)</button>
      </div>
      <div>
        <img
          src="https://cdn.dribbble.com/userupload/14380513/file/original-c86ab93ae7f292f340554adea621a198.jpg?resize=2048x1536"
        />
        <button>Select (1)</button>
      </div>
      <div>
        <img
          src="https://cdn.dribbble.com/userupload/9127651/file/original-888588f9c28c4b547f517c89549c25fe.png?resize=2048x1536"
        />
        <button>Select (1)</button>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
