nav {
    /* border: 1px solid black; */
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: hidden;
}

@media screen and (min-width: 1024px){
    nav .actions {
        visibility: visible;
        column-gap: 3.5rem;
    }
    
}

nav .actions #login {
    visibility: visible;
    background-color: black;
    color: white;
    padding:8px 24px;
    border-radius: 24px;
    font-weight: 500;
    border: 0px;
}
